{% extends 'base.html' %}

{% block content %}
<form method="post">
    <h2>Log-in</h2>
    <div class="form-floating mb-2 w-25">
        <input name="username" class="form-control" id="username" placeholder="Username" required>
        <label for="username">Username</label>
    </div>
    <div class="form-floating mb-2 w-25">
        <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
        <label for="password">Password</label>
    </div>
    <input class="btn btn-primary" type="submit" value="Login">
</form>
{% endblock %}