header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    margin-bottom: 8px;
}

h1 {
    margin: 0;
}

#notes {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.note {
    border: 1px solid;
    padding: 8px;
    width: 275px;
}

.note-title {
    font-weight: bold;
}

.note-actions {
    text-align: right;
}
