{% extends 'base.html' %}

{% block content %}
<form method="post">
    <h2>Edit</h2>
    <div class="form-floating mb-2 w-25">
        <input name="title" id="title" class="form-control" value="{{ request.form['title'] or note['title'] }}" placeholder="Title" required>
        <label for="title">Title</label>
    </div>
    <div class="form-floating mb-2">
        <textarea name="body" id="body" class="form-control" placeholder="Body">{{ request.form['body'] or note['body'] }}</textarea>
        <label for="body">Body</label>
    </div>
    <input class="btn btn-primary" type="submit" value="Save">
</form>
{% endblock %}