<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Notes</title>
    </head>

    <body>
        <header class="navbar border-bottom">
            <nav class="container">
                <a class="text-decoration-none" href="{{ url_for('notes.index') }}">
                    <h1>Notes</h1>
                </a>

                {% if g.user %}
                <div class="d-flex">
                    <a class="btn btn-primary me-1" href="{{ url_for('notes.create') }}">+</a>
                    <form method="post" action="{{ url_for('notes.search') }}" class="input-group">
                        <input type="search" name="query" class="form-control" placeholder="Search">
                        <input type="submit" class="btn btn-outline-primary" value="Go">
                    </div>
                </div>
                {% endif %}

                <div>
                    {% if g.user %}
                    <span>{{ g.user['username'] }}</span>
                    <a class="btn btn-outline-primary" href="{{ url_for('auth.logout') }}">Log Out</a>
                    {% else %}
                    <a class="btn btn-outline-primary" href="{{ url_for('auth.register') }}">Register</a>
                    <a class="btn btn-primary" href="{{ url_for('auth.login') }}">Log In</a>
                    {% endif %}
                </div>
            </nav>
        </header>
        
        <main class="container">
            {% for message in get_flashed_messages() %}
            <div>{{ message }}</div>
            {% endfor %}
        
            {% block content %}{% endblock %}
        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
</html>